* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 60px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: -300px;
}
.header-nav .header-a {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  color: #B3B3BA;
  text-decoration: none;
  margin-top: -55px;
  margin-right: 5px;
}
.header-nav .header-img-svg {
  margin-top: -91px;
}
.header-nav .header-span {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: #F0145A;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: -300px;
}
.navigation .nav-a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  text-decoration: none;
  margin-right: 15px;
  margin-top: -27px;
  transition: 0.5s ease;
}
.navigation .nav-a:hover {
  border-bottom: 3px solid #F0145A;
  font-weight: 700;
}
.navigation .nav-span {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #F0145A;
}

.main-title {
  margin-top: 30px;
}
.main-title .main-price {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 30px;
  color: #323264;
}
.main-title .main-desc {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 12px;
  color: #B3B3BA;
  margin-top: 15px;
}
.main-title .img-long {
  width: 1080px;
  height: 4px;
  margin-top: 30px;
}
.main-title .main-text-desc {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-top: 30px;
}
.main-title h2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 38px;
  color: #000;
  margin-top: 30px;
}
.main-title .main-text {
  background: linear-gradient(45deg, #F0145A, #EF8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title .main-price-2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 22px;
  color: #46466E;
  margin-top: 30px;
}
.main-title .span {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 18px;
  color: #F0145A;
  margin-top: 15px;
}
.main-title p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-top: 15px;
}
.main-title .p-desc {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
  color: #B3B3BA;
  text-align: center;
}

.application {
  display: inline-flex;
  justify-content: space-between;
}

.container-2 {
  width: 1440px;
  margin: 60px;
  background-color: #F5F5FA;
}

.div-rec h2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 14px;
  color: #24A3FF;
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 38px;
  color: #000;
}

.main-text {
  background: linear-gradient(45deg, #F0145A, #EF8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-container {
  display: flex;
  justify-content: space-between;
}
.div-container .div-img {
  width: 420px;
  height: 200px;
}
.div-container .div-price {
  background-color: #fff;
  border-radius: 8px 0 0 8px;
  margin-right: 30px;
}
.div-container .div-price a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  text-decoration: none;
}
.div-container h4 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 12px;
  color: #B3B3BA;
  margin-top: 15px;
}
.div-container .div-text-desc {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
